<a href="https://colab.research.google.com/github/Hyunalee9/2025Python/blob/main/python08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import random # 난수 생성 함수(들)을 사용하기 위해서(random.randrange,...)
import math # 수학 함수(들)을 사용하기 위해서(math.sqrt, ...)

# Ex 1.

아래의 리스트 fruits에 저장된 문자열들의 길이를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermellon']

In [ ]:
# fruits 에 저장된 문자열들의 길이 저장하기
lengths = [len(x) for x in fruits]
print(lengths)

[5, 6, 6, 6, 11]

# Ex 2.

* 1 이상 4 이하 범위의 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
* gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [ ]:
# gender_codes 만들기
gender_codes = [random.randrange(1,5) for _ in range(10)]

# gender_codes 출력하기
print(gender_codes)

# 값이 1 또는 3 -> Male , 2 또는 4 -> Female 저장하는 genders 만들기
genders = ['Male' if x == 1 or x == 3 else 'Female' for x in gender_codes]

# genders 출력하기
print(genders)

[2, 4, 2, 1, 1, 4, 1, 4, 1, 4]
['Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']

# Ex 3.

아래의 두 2차원 리스트 m1, m2에서 같은 인덱스에 있는 원소들끼리의 덧셈 결과를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

In [ ]:
#1
result = []
for row1, row2 in zip(m1, m2):
    row_plus = []
    for x, y in zip(row1, row2):
        row_plus.append(x + y)
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
# List Comprehension
result2 = [[x + y for x, y in zip(row1, row2)] for row1, row2 in zip(m1, m2)]
print(result2)

[[2, 3, 4], [6, 7, 8]]

# Ex 4.

1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [2]:
num_of_items = 5

In [5]:
# scores 만들기
scores = [random.randrange(1,11) for _ in range(num_of_items)] # num_of_items가 주어져있다. 활용하자.

# 출력하기
print(scores)

[7, 8, 6, 2, 6]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [6]:
# 합계
# 내장 함수 이용
print(f' scores = {scores}, 합계 : {sum(scores)}')

# 반복문 이용
total = 0
for x in scores:
    total += x
print(f' scores = {scores}, 합계 : {total}')

 scores = [7, 8, 6, 2, 6], 합계 : 29
 scores = [7, 8, 6, 2, 6], 합계 : 29

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [7]:
# 평균
mean = sum(scores)/ num_of_items
print(f' scores = {scores}, 평균 : {mean} ')

 scores = [7, 8, 6, 2, 6], 평균 : 5.8

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

생각해보기
* scores 의 각 요소는 독립 시행으로 추출됨

In [8]:
# 편차 제곱 리스트
squared_deviation = [(x - mean)**2 for x in scores]

# 편차 제곱 합
sum_of_squared_deviations = sum(squared_deviation)

# 분산
variance = sum_of_squared_deviations / (num_of_items - 1)

print(f'편차 제곱 리스트  = {squared_deviation}, 편차 제곱 합 : {sum_of_squared_deviations}')
print(f'분산 = {variance}')

편차 제곱 리스트  = [1.4400000000000004, 4.840000000000001, 0.04000000000000007, 14.44, 0.04000000000000007], 편차 제곱 합 : 20.8
분산 = 5.2

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [9]:
# 표준편차는 분산에 루트를 씌운 값이다.
std = math.sqrt(variance)
print(f' 표준편차 : {std}')

 표준편차 : 2.280350850198276

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [10]:
# 내장 함수 이용하기
print(f'최댓값 : {max(scores)}')

# 최댓값을 직접 한번 찾아보자
# scores 리스트의 첫번째 값을 최댓값으로 우선 두고, 다른 원소 값들과 차례대로 비교해서 제일 큰 값을 출력

max_of_scores = scores[0]
for x in scores:
    if x > max_of_scores :
        max_of_scores = x

print(f'최댓값 : {max_of_scores}')

최댓값 : 8
최댓값 : 8

# Ex 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [11]:
# 내장 함수 이용하기
print(f'최솟값 : {min(scores)}')

#
min_of_scores = scores[0]
for x in scores:
    if x < min_of_scores :
        min_of_scores = x
print(f'최솟값 : {min_of_scores}')

최솟값 : 2
최솟값 : 2

참고

* 리스트의 모든 원소의 합계
$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$
* 리스트의 모든 원소의 평균(mean)
$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

* 리스트의 모든 원소의 분산(variance)
$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

* 리스트의 모든 원소의 표준편차(standard deviation)
$$
 std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$