<a href="https://colab.research.google.com/github/Hyunalee9/2025Python/blob/main/python17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
file_path = '/content/drive/MyDrive/Colab Notebooks/exam.csv'

1. exam.csv 파일을 open
2. 파일의 첫번째 줄은 컬럼 이름들이기 때문에, 첫번째 줄은 읽고 무시.
3. 파일의 두번째 줄부터 파일 끝(EDF)까지 4번 내용을 반복
4. 각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append
5. 4번에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에 리스트의 모든 값들을 함수(int)로 변환

In [53]:
with open(file_path) as f:
    cnt = 0
    exam = []
    for line in f:
        if cnt == 0:
            cnt += 1
            pass
        else:
            element = line.strip().split(',')
            str_to_int = list(map(int,element))
            exam.append(str_to_int)

print(exam)

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

6. 수학 함수들로만 이루어진 1차원 리스트를 만듦

In [54]:
math_list = [row[2] for row in exam]
print(math_list)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

7. 수학 점수의 최댓값, 최솟값, 평균 출력.

In [55]:
# 학생 수
len_of_math = len(math_list)

# 수학 점수 최댓값
max_of_math = max(math_list)

# 수학 점수 최솟값
min_of_math = min(math_list)

# 수학 점수 평균
mean_of_math = sum(math_list) / len_of_math

print(f'수학 점수의 최댓값: {max_of_math}, 최솟값 : {min_of_math} , 평균: {mean_of_math}')

수학 점수의 최댓값: 90, 최솟값 : 20 , 평균: 57.45

8. 1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력

In [56]:
# 1반 학생들
class1 = [row[2] for row in exam if row[1]== 1]

# 1반 학생수
len_of_class1 = len(class1)

# 1반 학생 수학 점수 총점
total = sum(class1)

# 평균
mean = total / len_of_class1

# 최댓값
max_of_class1 = max(class1)

#최솟값
min_of_class1 = min(class1)

print(f'1반 학생들의 수학 점수 총점: {total}점, 평균: {mean}, 최댓값: {max_of_class1}, 최솟값: {min_of_class1}')

1반 학생들의 수학 점수 총점: 185점, 평균: 46.25, 최댓값: 60, 최솟값: 30